* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
}

.navbar {
  padding-right: 20px;
}

.navbar main {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 6px;
}

.navbar h1 {
  font-size: 40px;
  margin: 0;
  margin-top: 20px;
}

.navbar a {
  text-decoration: none;
}

.title {
  margin-top: 30px;
  font-size: 32px;
}

.title > a {
  color: #555;
  text-decoration: none;
  font-weight: 700;
}

.title > span {
  font-weight: normal;
  font-size: 20px;
  color: #555;
  margin-left: 30px;
}

.code-container {
  display: flex;
  align-items: stretch;
}

.code-section {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.code {
  flex: 1;
}

.code > code {
  height: 100%;
}

.heading {
  margin-top: 10px;
  margin-bottom: 5px;
}

.description {
}
